flows_cbreaker.json
[{"id":"2849f72f.6518a8","type":"tab","label":"Using MongoDB","disabled":true,"info":""},{"id":"4db8ac7e.9d85a4","type":"tab","label":"Using MySQL","disabled":false,"info":"<h1>This is the MySQL Flow</h1>"},{"id":"507b6f73.74bdb","type":"subflow","name":"Subflow 2","info":"","in":[{"x":220,"y":60,"wires":[]}],"out":[{"x":660,"y":60,"wires":[]},{"x":500,"y":60,"wires":[]}]},{"id":"7e8382a.418227c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":150,"sy":120,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"30ed8e44.b97702","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"db","name":"db"},{"id":"50be87ff.199958","type":"ui_tab","z":"","name":"Tab","icon":"credit_card","order":0},{"id":"e35b19ec.b55e78","type":"MySQLdatabase","z":"","host":"192.168.0.83","port":"25252","db":"pumpdb","tz":""},{"id":"f7475c2e.6df38","type":"ui_group","z":"","name":"Default","tab":"50be87ff.199958","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c6ba8fe.443238","type":"worldmap","z":"2849f72f.6518a8","name":"","lat":"37.5","lon":"127.1","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","path":"","x":710,"y":60,"wires":[]},{"id":"b1b30470.b51508","type":"inject","z":"2849f72f.6518a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":60,"wires":[["2c36a623.d7952a"]]},{"id":"87b9138f.cf537","type":"worldmap","z":"4db8ac7e.9d85a4","name":"","lat":"37.648600","lon":"127.020000","zoom":"17","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","path":"","x":770,"y":340,"wires":[]},{"id":"f1d82a1f.59a3a8","type":"debug","z":"2849f72f.6518a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":160,"wires":[]},{"id":"723d4ad4.915d94","type":"inject","z":"4db8ac7e.9d85a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["b6214b89.1392d8"]]},{"id":"b6214b89.1392d8","type":"function","z":"4db8ac7e.9d85a4","name":"SELECT temp Query","func":"msg.topic = 'select a.app_eui, a.deui, a.deui_name as name, a.lon, a.lat, b.updatetime, b.curr_b_status '\n+ ' from '\n+ '\twebgis_tb_lora_device_info a '\n+ '\tleft outer join '\n+ '\t\t(SELECT device_name, MAX(updatetime) updatetime, curr_b_status '\n+ '\t\tFROM tb_blocker_lora_status_1min '\n+ '\t\tGROUP BY device_name) b '\n+ '\ton a.deui = b.device_name '\n+ ' WHERE a.lon IS NOT NULL AND a.lat IS NOT NULL\t'\n+ ' order by a.app_eui';\nconsole.info(msg.topic);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["d3d85140.c592e"]]},{"id":"d3d85140.c592e","type":"mysql","z":"4db8ac7e.9d85a4","mydb":"e35b19ec.b55e78","name":"pumpdb","x":340,"y":260,"wires":[["f2684586.e714e8","a1d814c5.01c018"]]},{"id":"f2684586.e714e8","type":"debug","z":"4db8ac7e.9d85a4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":260,"wires":[]},{"id":"a1d814c5.01c018","type":"function","z":"4db8ac7e.9d85a4","name":"Manipulate Query Result","func":"for(var i=0;i<msg.payload.length;i++) {\n    //msg.deleted[i].layer = true;\n    //msg.payload[i].layer = 'drawing';\n    if(msg.payload[i].curr_b_status==\"0\") {\n        msg.payload[i].icon = \"fa-arrow-circle-o-up\";\n        msg.payload[i].iconColor = \"#ff0000\";\n    } else {\n        msg.payload[i].icon = \"fa-arrow-circle-o-down\";    \n        msg.payload[i].iconColor = \"#666666\";\n    }\n}\nmsg.payload.command =  {autopan:false};\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":340,"wires":[["87b9138f.cf537"]]},{"id":"7aac7cde.625f94","type":"comment","z":"4db8ac7e.9d85a4","name":"My SQL 이용 지도 표시","info":"","x":180,"y":40,"wires":[]},{"id":"52abe35a.d960fc","type":"function","z":"4db8ac7e.9d85a4","name":"","func":"// create random position\nvar lat = 51 + Math.random() * 0.2;\nvar lon = -1.45 + Math.random() * 0.2;\nmsg.payload={command:{autopan:true}, lat:lat, lon:lon, name:\"Mike\", icon:\"male\", url:\"<a href=\\\"../ui/#/0\\\">IBM link</a>\"};\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["87b9138f.cf537","f2684586.e714e8"]]},{"id":"3656bf8.0f4774","type":"inject","z":"4db8ac7e.9d85a4","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":190,"y":600,"wires":[["19e1f809.157c28"]]},{"id":"35c47111.7d7a4e","type":"ui_template","z":"4db8ac7e.9d85a4","group":"f7475c2e.6df38","name":"","order":1,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":560,"y":600,"wires":[[]]},{"id":"19e1f809.157c28","type":"template","z":"4db8ac7e.9d85a4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"/worldmap\" width=\"100%\" height=600px ></iframe>","x":390,"y":600,"wires":[["35c47111.7d7a4e"]]},{"id":"e558cff6.9fcd2","type":"ui_button","z":"4db8ac7e.9d85a4","name":"","group":"f7475c2e.6df38","order":2,"width":0,"height":0,"passthru":false,"label":"위치이동","color":"","bgcolor":"","icon":"fa-male","payload":"","payloadType":"str","topic":"","x":760,"y":100,"wires":[["52abe35a.d960fc"]]},{"id":"34f22ea4.be93c2","type":"comment","z":"4db8ac7e.9d85a4","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":270,"y":540,"wires":[]},{"id":"d6ae8d85.bf919","type":"worldmap in","z":"4db8ac7e.9d85a4","name":"","path":"/worldmap","x":422.00002098083496,"y":440.0000114440918,"wires":[["c69c95c5.9fc328"]]},{"id":"c69c95c5.9fc328","type":"debug","z":"4db8ac7e.9d85a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":652.000020980835,"y":440.0000114440918,"wires":[]},{"id":"2c36a623.d7952a","type":"mongodb-node","z":"2849f72f.6518a8","mongodb":"30ed8e44.b97702","name":"db map","collection":"map","operation":"find","upsert":false,"multi":false,"x":358.0000286102295,"y":57.000009536743164,"wires":[["508410.6219cbf"]],"icon":"node-red-node-rbe/rbe.png"},{"id":"508410.6219cbf","type":"function","z":"2849f72f.6518a8","name":"","func":"for(var i=0;i<msg.payload.length;i++) {\n    if(msg.payload[i].gate==\"1\") {\n        msg.payload[i].icon = \"fa-arrow-circle-o-up\";\n        msg.payload[i].iconColor = \"#ff0000\";\n        msg.payload[i].draggable = true;\n    } else {\n        msg.payload[i].icon = \"fa-arrow-circle-o-down\";    \n        msg.payload[i].iconColor = \"#666666\";\n        msg.payload[i].draggable = true;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":528.0000286102295,"y":57.000009536743164,"wires":[["5c6ba8fe.443238","f1d82a1f.59a3a8"]]}]